@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Regular.otf");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/Proxima\ Nova\ Bold.otf");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/Proxima\ Nova\ Semibold.otf");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/Proxima\ Nova\ Thin.otf");
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/Proxima\ Nova\ Extrabold.otf");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/Proxima\ Nova\ Black.otf");
  font-weight: 900;
  font-display: swap;
}

body {
  margin: 0;
  font-family: 'Proxima Nova', sans-serif;
  
}

.bg-body{
  background-color: #F4F4F4;
}

.bg-custom-gradient{
  
  background :url('../img/blob.svg') no-repeat center, linear-gradient(144.11deg, #FE9497 0%, #FA0E15 97.29%);
}

.bg-carousel-default{
  background-color: #8C8C8C;
}

.h-72{
  height:20rem;
}

.bg-primary-gradient{

  background: linear-gradient(144.11deg, #FE9497 0%, #FA0E15 97.29%);
}

.bg-primary{

  background:#FA0E15;
}

#carouselImage{
  background-image: url(../img/pritam3.png);
}


.checkboxChecked{
  background-image: url(../img/check.svg);
}

#itemsDescription::placeholder{
  text-align: center;
  line-height: 50px;
}


dialog[open] {
  animation: appear .15s cubic-bezier(0, 1.8, 1, 1.8);
}

dialog::backdrop {
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(54, 54, 54, 0.5));
  
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateX(-3rem);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
