@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Regular.otf");
  font-weight: 400;
  
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/Proxima\ Nova\ Bold.otf");
  font-weight: 700;
  
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/Proxima\ Nova\ Semibold.otf");
  font-weight: 600;
  
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/Proxima\ Nova\ Thin.otf");
  font-weight: 100;
  
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/Proxima\ Nova\ Extrabold.otf");
  font-weight: 800;
  
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/Proxima\ Nova\ Black.otf");
  font-weight: 900;
  
}

body {
  margin: 0;
  font-family: 'Proxima Nova', sans-serif;
  
}

.bg-body{
  background-color: #F4F4F4;
}

.bg-custom-gradient{
  
  background :url('../img/blob.svg') no-repeat center, linear-gradient(144.11deg, #FE9497 0%, #FA0E15 97.29%);
}

.bg-carousel-default{
  background-color: #8C8C8C;
}

.h-72{
  height:20rem;
}

.bg-primary-gradient{

  background: linear-gradient(144.11deg, #FE9497 0%, #FA0E15 97.29%);
}

.bg-primary{

  background:#FA0E15;
}

#carouselImage{
  background-image: url(../img/havells.webp);
}
